<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <label>Log-In</label>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginform" (ngSubmit)="action()">
                        <label>Email/Phone No</label>
                        <input type="text" class="form-control" formControlName="username"/>
                       
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="userpassword"/>
                       
                        <br/>
                        <input type="submit" class="btn btn-info" value="Log-In"/>&nbsp;&nbsp;<a routerLink="/forgotpassword">Forgot Password</a>

                    </form>
                </div>
                <div class="card-footer" *ngIf="chk" >
                    {{msg}}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>