<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isnavbar">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="/assets/Images/pic1.jpg" width="80px" height="60px" style="border-radius: 70px;">&nbsp;&nbsp;
      <label style="font-weight: bold;font-size: larger;">Connection</label>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: black;">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="color: black;">Contact Us</a>
        </li>
        
      </ul>
      <form class="d-flex" style="padding-left: 700px;">
        <a routerLink="signup" style="color: black;">Sign-Up/</a>
       <a routerLink="login" style="color: black;">Log-In</a>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid"  *ngIf="isnavbar1">

<div class="row">


<div class="col-md-12">
<ngb-carousel >
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Images/pic4.jpg" alt="" height="520px" style="display: inline-block;width: 100%;"/>
  </div>

</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Images/pic2.jpg" alt="" height="520px" style="display: inline-block;width: 100%;"/>
  </div>

</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img src="/assets/Images/pic3.jpg" alt="" height="520px" style="display: inline-block;width: 100%;"/>
  </div>
 
</ng-template>
</ngb-carousel>
</div>
</div>
</div>

<!--Admin Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isnavbaradmin">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="/assets/Images/pic1.jpg" width="80px" height="60px" style="border-radius: 70px;">&nbsp;&nbsp;
      <label style="font-weight: bold;font-size: larger;">Connection</label>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/allcategoriesforadmin" class="nav-link active" aria-current="page">All Categries</a>
        </li>&nbsp;&nbsp;
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/allproductsforadmin" style="color: black;">All Food Items</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/foodtype" style="color: black;">Add FoodType</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderdetailsforadmin" style="color: black;">Order Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/userdetails" style="color: black;">User Details</a>
        </li>
      
        
      </ul>
      <form class="d-flex" style="padding-left: 400px;">
        
       <a routerLink="/login" style="color: black;">Log-Out</a>
      </form>
    </div>
  </div>
</nav>


<!--User Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isnavbaruser">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="/assets/Images/pic1.jpg" width="80px" height="60px" style="border-radius: 70px;">&nbsp;&nbsp;
      <label style="font-weight: bold;font-size: larger;">Connection</label>
    </a>&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/allcategories" class="nav-link active" aria-current="page">Select Item</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a routerLink="/cart" class="nav-link active" aria-current="page">Cart</a>
        </li>&nbsp;&nbsp;
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/orderdetailsofuser" style="color: black;">Payment Detail</a>
        </li>&nbsp;&nbsp;
        
        
      </ul>
      <form class="d-flex" style="padding-left: 650px;">
        
       <a routerLink="/login" style="color: black;">Log-Out</a>
      </form>
    </div>
  </div>
</nav>



<div>
  <router-outlet></router-outlet>
</div>