<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <label>Forgot Password</label>
                </div>
                <div class="card-body">
                    <form [formGroup]="forgotform" (ngSubmit)="action()">
                    <label>Email/Phone No</label>
                    <input type="text" class="form-control" formControlName="username"/>
                    <br/>
                    <input type="submit" value="Next" class="btn btn-info"/>
                </form>
                </div>
                <div class="card-footer" *ngIf="chk1" style="color: red;">{{msg}}</div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    </div>
