<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Add Food Item
                </div>
            <div class="card-body">
            <div class="row">
                <div class="col-md-12" >
                <form [formGroup]="foodform" (change)="selectaction()">
                    <label>Select Category</label>
                    <select formControlName="select" class="form-control" style="text-align: center;">
                        <option *ngFor="let i of category" value="{{i.categoryid}}">{{i.categoryname}}</option>
                    </select>
                </form>
                </div>
            </div>
            <br/>
            <div class="card" *ngIf="chk">
                
        <div class="card-body">
        <form [formGroup]="foodform" (ngSubmit)="action()">
            <label>Product Name</label>
            <input type="text" formControlName="foodname" class="form-control"/>
            <label>Product Price</label>
            <input type="text" formControlName="price" class="form-control"/>
            <label>Product Description</label>
            <input type="text" formControlName="fooddescription" class="form-control"/>
            <label>Discount</label>
            <input type="text" formControlName="discount" class="form-control"/>

            <label>Type</label>
          <select formControlName="type" class="form-control">
            <option *ngFor="let i of foodtype" value="{{i.typeid}}">{{i.typename}}</option>
          </select>
            <br/>
            <input type="submit" value="Add" class="btn btn-info"/>
        </form>
        </div>
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>